html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: black; 
}

h1{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #fff5f2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}


header{
    color: #fff5f2;
    background-color: #751b99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 0.1rem solid #751b99;
    margin-bottom: 1rem;
}

nav{
    font-size: 2.5rem;
    padding-left: 0.4rem;
}


.foto-perfil{
    display: flex;
    align-items: center;
}

.foto-perfil>img{
    height: 3rem;
    padding-right: 0.4rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

li{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 7rem;
}

li>a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid #751b99;
    color: black;
    border-radius: 0.6rem;
    height: 100%;
    width: 60%;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0.1rem solid #751b99;
    border-radius: 0.6rem;
    font-family: 'Roboto', sans-serif;
}

.janela {
    display: flex;
    position: fixed;
    top: 2.8rem;
    align-items: center;
    justify-content: space-around;
    left: 0;
    width: 15rem;
    height: 0;
    opacity: 0;
    font-size: 1.5rem;
    background-color: #751b99;
    border-radius: 0.3rem;
    color: #fff5f2;
    font-family: 'Raleway', sans-serif;
    transition: height 0.5s, opacity 0.4s;
    margin: 0;
}


.janela>li>a{
    color: #fff5f2;
}

.janela>li{
    margin-bottom:0;
    width: 0;
    height: 0;
}