html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 1.5rem;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.1rem solid black;
    font-family: 'Raleway', sans-serif;
}

nav{
    font-size: 3rem;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.foto-perfil{
    display: flex;
    align-items: center;
}

.img2 {
    display:flex;
    height: 8rem;
    width: 8rem;
}
.coluna {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem; 
    margin-top: 2rem; 
}

p{
    font-family: 'Raleway', sans-serif;
}