html{
    font-size: 1rem;
    height: 100%;
    width: 100%;
}

h1{
    font-size: 1.5rem;
}

body{
    background-color: #fff5f2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}


header{
    color: #fff5f2;
    background-color: #751b99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: 0.1rem solid #751b99;
    font-family: 'Raleway', sans-serif;
}

nav{
    font-size: 2.5rem;
    padding-left: 0.4rem;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.foto-perfil{
    display: flex;
    align-items: center;
}

.foto-perfil>img{
    height: 3rem;
    padding-right: 0.4rem;
}

.img2 {
    display:flex;
    height: 8rem;
    width: 8rem;
}
.coluna {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha {
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem; 
    margin-top: 2rem; 
}

p{
    font-family: 'Raleway', sans-serif;
}

.acabando{
    color: #c71e00;
    font-weight: bold;
}

div{
    display: flex;
    margin-top: 0.5rem;
    flex-direction: row;
    width: 8rem;
    justify-content: space-between;
}

.mais{
    border: 0.1rem solid #751b99;
    color: #751b99;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    width: 2rem;
    display: flex;
    justify-content: center;
}

.menos{
    border: 0.1rem solid #751b99;
    color: #751b99;
    font-size: 2rem; 
    font-family: 'Raleway', sans-serif;
    width: 2rem;
    display: flex;
    justify-content: center;
}


li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 1000%;
}

.janela {

    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 2.8rem;
    left: 0;
    width: 15rem;
    height: 0;
    opacity: 0;
    font-size: 1.5rem;
    background-color: #751b99;
    border-radius: 0.3rem;
    color: #fff5f2;
    font-family: 'Raleway', sans-serif;
    transition: height 0.5s, opacity 0.4s;
  }

.janela>li>a{
    text-decoration: none;
    display: flex;
    border: 0.2rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;

    color: #fff5f2;
}